{% extends 'admin/admin_navbar.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<style>
    /* Set the height for the table container */
    .table-responsive {
      height: 400px; /* Set the desired height here */
      overflow-y: auto; /* Add vertical scrollbar if necessary */
    }

    /* Add your CSS styles for the table if needed */
  </style>

{% for e in exe %}



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-xl-5 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">Exhibitor Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="d-flex justify-content-between mb-4">
                                            <div>Exhibitor</div>
                                            <div class="text-dark">{{e.exhibitors}}</div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <div>Booth Number</div>
                                            <div class="text-dark">{{e.boothnumber}}</div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <div>Contact Person</div>
                                            <div class="text-dark">{{e.contactperson}}</div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <div>Contact Email</div>
                                            <div class="text-dark">{{e.contactemail}}</div>
                                        </div>
                                        <div class="d-flex justify-content-between ">
                                            <div>Contact Number</div>
                                            <div class="text-dark">{{e.contactnumber}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">{{e.event.event}} - Booth Visitors [T-{{total_reg}}]</h4>
                        </div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-between">
                                <small>Students ({{total_std}})</small>
                                <small>43</small>
                            </div>
                            <div class="progress progress-md  mt-2">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-between">
                                <small>Parents ({{total_par}})</small>
                                <small>34</small>
                            </div>
                            <div class="progress progress-md  mt-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-between">
                                <small>Academic ({{total_aca}})</small>
                                <small>54</small>
                            </div>
                            <div class="progress progress-md mt-2">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mt-3 ">
                            <div class="d-flex justify-content-between">
                                <small>Schools ({{total_school}})</small>
                                <small>67</small>
                            </div>
                            <div class="progress progress-md mt-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 70%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>





            <div class="col-xl-3 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-5">Credentials</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="d-flex justify-content-between mb-4">
                                            <div class="text-secondary font-weight-medium">Username</div>
                                            <div class="small">{{e.username}}</div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-4">
                                            <div class="text-secondary font-weight-medium">Password</div>
                                            <div class="small">{{e.password}}</div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <div class="text-secondary font-weight-medium mt-2">Status</div>
                                            <div class="small">

                                                {% if e.status == '0' %}
                                                <button type="button"
                                                    class="btn btn-success btn-sm btn-rounded btn-fw">Active</button>
                                                {% else %}
                                                <button type="button"
                                                    class="btn btn-danger btn-sm btn-rounded btn-fw">Deactivated</button>
                                                {% endif %}


                                            </div>
                                        </div>

                                        <!-- <div class="d-flex justify-content-between ">
                                            <button type="button"
                                                class="btn btn-outline-success btn-sm btn-rounded btn-fw">Edit</button>
                                            <button type="button"
                                                class="btn btn-outline-success btn-sm btn-rounded btn-fw">Decativate</button>
                                            <button type="button"
                                                class="btn btn-outline-success btn-sm btn-rounded btn-fw">Delete</button>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Booth Visitors</h4>
                        
                        <div class="table-responsive" style="height: 420px;">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Booking ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Deadline
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>





                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>







    </div>


</div>










{% endfor %}
<script>
    var mobnav = document.querySelector('.mob_exe');
    var navLink = document.querySelector('.nav-exe');
    mobnav.classList.add('active-link')
    navLink.classList.add('active');
</script>

<!-- Add the required JavaScript -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to load DataTable when DOM content is ready
        function loadDataTable() {
            const table = document.getElementById("myTable");
            const dataTable = new DataTable(table, {
                searchable: true, // Enable search functionality
                paging: true, // Enable pagination
            });
        }

        loadDataTable();
    });
</script>

<!-- Add the DataTables library here (you can also host it locally) -->
<script src="https://cdn.jsdelivr.net/npm/datatable@1.11.4/dist/index.js"></script>

{% endblock %}